/* 初始化标签 */
/* -------------------------------------------------------------------------------------------------------------------------- */
* {
    padding: 0px;
    margin: 0px;
}

:root,
body {
    height: 100%;
}

button {
    border: none;
    outline: none;
}

/* 浮动与清除浮动 */
/* -------------------------------------------------------------------------------------------------------------------------- */
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* -------------------------------------------------------------------------------------------------------------------------- */